<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>menu</servlet-name>
        <servlet-class>menu</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Server</servlet-name>
        <servlet-class>Server</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Tcp</servlet-name>
        <servlet-class>Tcp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet4</servlet-name>
        <servlet-class>Servlet4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Back</servlet-name>
        <servlet-class>Back</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>back</servlet-name>
        <servlet-class>back</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>info</servlet-name>
        <servlet-class>info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disp</servlet-name>
        <servlet-class>disp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>planner</servlet-name>
        <servlet-class>planner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exer_plan</servlet-name>
        <servlet-class>exer_plan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>xcise</servlet-name>
        <servlet-class>xcise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>plnr</servlet-name>
        <servlet-class>plnr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>menu</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Server</servlet-name>
        <url-pattern>/Server</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Tcp</servlet-name>
        <url-pattern>/Tcp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet4</servlet-name>
        <url-pattern>/Servlet4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Back</servlet-name>
        <url-pattern>/Back</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>back</servlet-name>
        <url-pattern>/back</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>info</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disp</servlet-name>
        <url-pattern>/disp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>planner</servlet-name>
        <url-pattern>/planner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>exer_plan</servlet-name>
        <url-pattern>/exer_plan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>xcise</servlet-name>
        <url-pattern>/xcise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>plnr</servlet-name>
        <url-pattern>/plnr</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
